<div class="col">
{{#with boardInfo}}
<div class="row">

<div class="row  d-flex justify-content-center">
  <div class="col-5">
    <figure class="figure">
      <img src="/image/{{id}}/top.svg" class="figure-img img-fluid rounded" alt="Board top view" id="board-preview">
      <figcaption class="figure-caption text-end">Top view of board</figcaption>
    </figure>
  </div>  
  <div class="col-5">
    <figure class="figure">
      <img src="/image/{{id}}/bottom.svg" class="figure-img img-fluid rounded" alt="Board bottem view" id="board-preview">
      <figcaption class="figure-caption text-end">Bottom view of board</figcaption>
    </figure>
  </div>  
</div>

    {{!-- <div class="col">
        <img src="/image/{{id}}/top.svg" class="detail-pg-img" alt=""> 
    </div>
    <div class="col">
        <img src="/image/{{id}}/bottom.svg" class="detail-pg-img" alt="">
    </div> --}}

  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{tag.label}}</p>
    <h6 class="card-subtitle mb-2 text-muted">{{description}}</h6>
    </div>
  
  <ul class="list-group list-group-flush">
      {{altTag}}

      {{features}}

      {{#each features}}
        {{features}}
      {{/each}}
    {{#each altTag}}
        <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            {{altTag}}
    <span class="badge "><small>text</small></span>

        </div>
        <small class="text-muted">More Text</small>            
        
        </li> 
    {{/each}}      
  </ul>
    <div class="card-body">
    <form action="/board/{{_id}}/delete" method="POST">
       <button type="submit" class="btn btn-danger">Delete</button>
         <a href="/board/{{_id}}/edit" class="btn btn-info">Edit</a>
    </form>
    </div>
</div>
{{/with}}
</div>