<h2>Update a Board</h2>
<div class="row">
  <div class="col-md-6">
      {{!-- enctype="multipart/form-data" --}}
    <form action="/board/{{boardInfo.id}}/edit" method="POST" enctype="multipart/form-data"> 
      {{#if flash}}
        <div class="alert alert-danger" role="alert">
            <p>{{flash}}</p>
        </div>
      {{/if}}    
      <div class="form-group">
        <label>Name:
          <input type="text" name="name" class="form-control" {{#if boardInfo.name}} value="{{boardInfo.name}}" {{/if}}/>
        </label>    
      </div>
       <div class="form-group">
        <label>Project Type:
          <select id="tag" name="tag">
              {{#each tags}}
              <option value="{{_id}}">{{label}}</option>
              {{/each}}
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>Author:
          <input type="text" name="author" class="form-control" {{#if boardInfo.author}} value="{{boardInfo.author}}" {{/if}}/>
        </label>
      </div>      
      <div class="form-group">
        <label>Description:
          <textarea name="description" cols="30" rows="4" class="form-control">{{#if boardInfo.description}}{{boardInfo.description}}{{/if}}</textarea>
        </label>
      </div>

      <div class="form-group">
        <label>URL:
          <input type="text" name="url" class="form-control" {{#if boardInfo.url}} value="{{boardInfo.url}}" {{/if}}/>
        </label>
      </div>      
 
      <div class="form-group-inline">
        <label>Top Board Image (SVG):
          <input type="file" ACCEPT="text/svg" name="whocares" id="idexample" />
          {{#if boardInfo.topSVG}}{{boardInfo.topSVG}}{{/if}}
          {{!-- <pre><textarea name="topSVG" cols="10" rows="4" class="form-control">{{#if boardInfo.topSVG}}{{boardInfo.topSVG}}{{/if}}</textarea></pre> --}}
          {{!-- <input type="file" name="movie-cover-image" class="form-control-file" /> --}}
        </label>
      {{!-- </div> --}}
      {{!-- <div class="form-group"> --}}
        <label>Bottom Board Image (SVG):
          {{!-- <textarea name="bottomSVG" cols="10" rows="4" class="form-control">{{#if boardInfo.bottomSVG}}{{boardInfo.bottomSVG}}{{/if}}</textarea> --}}
          {{!-- <input type="file" name="movie-cover-image" class="form-control-file" /> --}}
        </label>        
      </div>

      <div class="form-group">
        <label>Secondary Tags: (separated by commas)
            <textarea name="altTags" cols="25" rows="1" class="form-control">{{#if boardInfo.altTags}}{{boardInfo.altTags}}{{/if}}</textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Project Includes:</label>
      </div>  
      <div class="form-group">
            <div class="form-check form-check-inline">
            <input class="form-check-input" name="features" type="checkbox" value="gerbers" id="check-1">
            <label class="form-check-label" for="check-1">Gerbers</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" name="features" type="checkbox" value="guide" id="check-2">
            <label class="form-check-label" for="check-2">Build Guide</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" name="features" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
            <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
            </div>
        
      </div>      
 

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>