<h2>Add a Board</h2>
<div class="row">

  <div class="col-6">
      {{!-- enctype="multipart/form-data" --}}
    <form action="/create" method="POST" > 
      {{#if flash}}
        <div class="alert alert-info" role="alert">
            <p>{{flash}}</p>
        </div>
      {{/if}}

      <div class="form-group form-floating">
          <input type="text" name="name" class="form-control" id="input-name" placeholder="Name" {{#if attempt.name}} value="{{attempt.name}}" {{/if}}/>
          <label for="input-name">Name</label>    
      </div>
       <div class="form-group form-floating">
          <select class="form-select" id="tag" name="tag">
              {{#each tags}}
              <option value="{{_id}}">{{label}}</option>
              {{/each}}
          </select>
        <label for="tag">Project Type:</label>
      </div>
      <div class="form-group form-floating">
          <input type="text" name="author" class="form-control" id="input-author" placeholder="Author" {{#if attempt.author}} value="{{attempt.author}}" {{/if}}/>
          <label for="input-author">Author</label>
      </div>      
      <div class="form-group form-floating">
        <textarea name="description" id="input-description" class="form-control h-100" cols="30" rows="4" class="form-control" placeholder="Description">{{#if attempt.description}}{{attempt.description}}{{/if}}</textarea>
        <label id="input-description">Description: </label>
      </div>
      <div class="form-group form-floating">
          <input type="text" name="url" class="form-control" id="input-url" placeholder="URL" {{#if attempt.url}} value="{{attempt.url}}" {{/if}}/>
          <label for="input-url">URL:</label>
      </div>      
      
      <div class="row pb-2">
        <label>BOARD IMAGES</label>
        <div class="col-md">
          <div class="form-group-inline form-floating">
          <textarea name="topSVG" cols="10" rows="4" class="form-control" id="input-top-svg" placeholder="topSVG">{{#if attempt.topSVG}}{{attempt.topSVG}}{{/if}}</textarea>
          <label for="input-top-svg">Top Board Image (SVG):</label>
        </div>
        </div>
        <div class="col-md">
          <div class="form-group-inline form-floating">
          <textarea name="bottomSVG" cols="10" rows="4" class="form-control" id="input-bottom-svg" placeholder="botSVG">{{#if attempt.bottomSVG}}{{attempt.bottomSVG}}{{/if}}</textarea>
          <label for="input-bottom-svg">Bottom Board Image (SVG):</label>
        </div>   
        </div>
      </div>
      
      <div class="form-group form-floating">
            <textarea name="altTags" cols="25" rows="1" class="form-control" id="input-tags" placeholder=" ">{{#if attempt.altTags}}{{attempt.altTags}}{{/if}}</textarea>
            <label for="input-tags">Secondary Tags: (separated by commas)</label>
      </div>
      <div class="form-group">
        <label>Project Includes:</label>
      </div>  
      <div class="form-group">
        {{#each features}}
            <div class="form-check form-check-inline">
            <input class="form-check-input" name="features" type="checkbox" value="{{this}}" id="check-{{@key}}" {{checked}}>
            <label class="form-check-label" for="check-{{@key}}">{{this}}</label>
            </div>      
        {{/each}}
            <div class="form-check form-check-inline">
            <input class="form-check-input" name="features" type="checkbox" id="inlineCheckbox3" value="disabled" disabled>
            <label class="form-check-label" for="inlineCheckbox3">Free Parts (disabled)</label>
            </div>
        
      </div> 
 

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>