<h2>Add a Board</h2>
<div class="row">
  <div class="col-md-6">
      {{!-- enctype="multipart/form-data" --}}
    <form action="/create" method="POST" > 
      {{#if flash}}
        <div class="alert alert-info" role="alert">
            <p>{{flash}}</p>
        </div>
      {{/if}}
      <div class="form-group">
        <label>Name:
          <input type="text" name="name" class="form-control" {{#if attempt.name}} value="{{attempt.name}}" {{/if}}/>
        </label>    
      </div>
       <div class="form-group">
        <label>Project Type:
          <select id="tag" name="tag">
              {{#each tags}}
              <option value="{{_id}}">{{label}}</option>
              {{/each}}
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>Author:
          <input type="text" name="author" class="form-control" {{#if attempt.author}} value="{{attempt.author}}" {{/if}}/>
        </label>
      </div>      
      <div class="form-group">
        <label>Description:
          <textarea name="description" cols="30" rows="4" class="form-control">{{#if attempt.description}}{{attempt.description}}{{/if}}</textarea>
        </label>
      </div>

      <div class="form-group">
        <label>URL:
          <input type="text" name="url" class="form-control" {{#if attempt.url}} value="{{attempt.url}}" {{/if}}/>
        </label>
      </div>      
 
      <div class="form-group-inline">
        <label>Top Board Image (SVG):
          <textarea name="topSVG" cols="10" rows="4" class="form-control">{{#if attempt.topSVG}}{{attempt.topSVG}}{{/if}}</textarea>
          {{!-- <input type="file" name="movie-cover-image" class="form-control-file" /> --}}
        </label>
      {{!-- </div> --}}
      {{!-- <div class="form-group"> --}}
        <label>Bottom Board Image (SVG):
          <textarea name="bottomSVG" cols="10" rows="4" class="form-control">{{#if attempt.bottomSVG}}{{attempt.bottomSVG}}{{/if}}</textarea>
          {{!-- <input type="file" name="movie-cover-image" class="form-control-file" /> --}}
        </label>        
      </div>

      <div class="form-group">
        <label>Secondary Tags: (separated by commas)
            <textarea name="altTags" cols="25" rows="1" class="form-control">{{#if attempt.altTags}}{{attempt.altTags}}{{/if}}</textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Project Includes:</label>
      </div>  
      <div class="form-group">
        {{#each features}}
            <div class="form-check form-check-inline">
            <input class="form-check-input" name="features" type="checkbox" value="{{this}}" id="check-{{@key}}" {{checked}}>
            <label class="form-check-label" for="check-{{@key}}">{{this}}</label>
            </div>      
        {{/each}}
            <div class="form-check form-check-inline">
            <input class="form-check-input" name="features" type="checkbox" id="inlineCheckbox3" value="disabled" disabled>
            <label class="form-check-label" for="inlineCheckbox3">Free Parts (disabled)</label>
            </div>
        
      </div> 
 

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>